# Binaries
bin/
dist/
/manager
/kubectl-attune

# Go
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Test
coverage.out
cover.out
test-results/
*.test
site/

# Build
*.o
*.a

# envtest binaries
testbin/

# Helm
charts/attune/charts/
*.tgz

# Local audit symlink
audit-findings.md

# GoReleaser output
goreleaser-dist/
